@import "./mixin";

.admin-header-container {
  position: fixed;
  top: 0;
  left: 28rem;
  right: 0;
  height: 6.8rem;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
  background-color: white;
  transition: all 0.2s linear;
  z-index: 5;
  .escape-link {
    font-size: 1.6rem;
    transition: 0.2s linear;
    &:hover {
      color: $clr-primary-2;
    }
  }
  .admin-infor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: $clr-primary-1;
    transition: all 0.2s linear;
    cursor: pointer;
    img {
      width: 4rem;
    }
    .dropdown-menu-admin {
      position: absolute;
      color: $clr-primary-1;
      top: 6.5rem;
      right: -1rem;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s linear;
      z-index: 5;
      .dropdown-list {
        position: relative;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: #d4d5d5 solid 1px;
        .dropdown-item-admin {
          padding: 1.2rem 2rem;
          font-size: 1.6rem;
          letter-spacing: 0.2rem;
          background-color: white;
          transition: all 0.2s linear;
          &:first-child {
            padding-top: 1.8rem;
          }
          &:last-child {
            padding-bottom: 1.8rem;
          }
          &:hover {
            background-color: #f1f5f8;
          }
        }
      }
    }
    &:hover {
      color: $clr-primary-2;
    }
    &:hover .dropdown-menu-admin {
      visibility: visible;
      opacity: 1;
      top: 5.5rem;
      z-index: 5;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -1.7rem;
      background-color: transparent;
      height: 3rem;
      visibility: hidden;
    }
    &:hover::after {
      visibility: visible;
    }
  }
}

//  Sidebar

.admin-heading {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.8rem;
  border-bottom: 1px solid #efefef;
  padding: 2rem;
  font-weight: 500;
  gap: 1.5rem;
  margin-bottom: 2rem;
  transition: all 0.2s linear;
}
.admin-sidebars {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 28rem;
  border-right: 1px solid #efefef;
  background-color: white;
  transition: all 0.3s linear;
  overflow: hidden;
}
.admin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-sidebars-menu {
  font-size: 2rem;
  .nav-item {
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .admin-nav-btn {
    border: none;
    background-color: transparent;
    color: $clr-primary-1;
    width: 94%;
    text-align: start;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    transition: 0.2s linear;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    text-transform: capitalize;
    font-weight: 500;
    i {
      font-size: 2rem;
    }
  }
  .admin-nav-btn.active {
    background-color: $clr-primary-1;
    color: white;
    i {
      color: white;
    }
  }
  .admin-nav-btn:hover:not(.active) {
    background-color: rgba($color: #111111, $alpha: 0.07);
  }
}
.user-avatar {
  width: 5rem;
}
.main-content {
  margin-left: 28rem;
  margin-top: 6.8rem;
  background-color: #f9fafb;
  height: 100vh;
  padding: 1rem;
  transition: all 0.2s linear;
}

// ============== Products ==============

#products {
  .products-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    .products-title {
      font-size: 2.5rem;
      font-weight: 650;
    }
    .products-add-btn {
      border: none;
      font-size: 1.2rem;
      text-transform: capitalize;
      letter-spacing: 0.1rem;
      border-radius: 1.25rem;
      padding: 1rem 1.5rem;
      border: 1px solid transparent;
      transition: all 0.2s linear;
      &:hover {
        background-color: white;
        color: $clr-primary-1;
        border-color: #d4d5d5;
      }
    }
  }
  .products-table {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    table {
      width: 100%;
      button {
        border: none;
        font-size: 2rem;
        background-color: transparent;
      }
      input {
        cursor: pointer;
      }
    }
    th {
      font-size: 2rem;
      font-weight: 550;
      text-align: start;
    }
    th,
    td {
      padding: 1rem;
      border: 1px solid #d4d5d5;
    }
    th:first-of-type {
      width: 3rem;
    }
    .product-img {
      width: 6rem;
    }
    .product-infor {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      align-items: center;
      .product-name {
        font-size: 1.6rem;
      }
    }
    .product-action {
      width: 8rem;
    }
    .product-action-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
    }
    .product-status {
      font-size: 1.5rem;
      background-color: #adff02;
      padding: 0.2rem 0.8rem;
      border-radius: 1.25rem;
    }
  }
}

// ================ taskbar =================

.product-task {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
  z-index: 4;
  .product-search {
    position: static;
    transform: translate(0);
    visibility: visible;
    opacity: 1;
    height: 4.6rem;
    box-shadow: none;
    z-index: 0;
  }
  .product-search-btn {
    top: 1px;
    right: 1px;
  }
  .product-multiple-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .product-multiple-active {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      font-size: 1.5rem;
    }
    .product-delete-all {
      padding: 1rem 1.5rem;
      text-transform: capitalize;
      border: none;
      border-radius: 1.25rem;
    }
  }
}

// ==================== Add Product ==============
// .add-product-container{
//   display: flex;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 100rem;
//   height: 50rem;
//   background-color: white;
//   z-index: 4;
//   visibility: hidden;
//   opacity: 0;
//   margin: auto;
//   transition: all .3s linear;
// }
// .show-add-product{
//   visibility: visible;
//   opacity: 1;

// }
.add-product-form {
  background-color: #f9fafb;
}
.product-form-media {
  padding: 1rem;
  border: 1px solid #d4d5d5;
  border-radius: 0.25rem;
  background-color: white;
}
.product-preview {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 25rem;
  padding: 1rem;
  border: #dddddd solid 2px;
  border-radius: 0.25rem;
  margin: 1.2rem 0;
  overflow-x: auto;
  .product-preview__default-text {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    color: #cccccc;
  }
  img {
    max-width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #85b7fe;
    outline: 2px solid #c1d7fb;
  }
}
.add-product-pricing {
  border: 1px solid #d4d5d5;
  border-radius: 0.25rem;
  background-color: white;
}
.add-product-sizing {
  font-size: 1.6rem;
  border: 1px solid #d4d5d5;
  border-radius: 0.25rem;
  background-color: white;
}
.add-product-checkbox {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.add-product-color {
  border: 1px solid #d4d5d5;
  border-radius: 0.25rem;
  background-color: white;
}
#inputColorName {
  width: 80%;
}
.add-product__color-variant {
  border: 1px solid #d4d5d5;
  border-radius: 0.25rem;
  padding: 1rem;
}
.add-product-other {
  border: 1px solid #d4d5d5;
  border-radius: 0.25rem;
  background-color: white;
}
//  =================== Responsive ===============

@include md {
  .admin-heading {
    gap: 3rem;
  }
  .admin-sidebars {
    width: 7rem;
  }
  .admin-sidebars-menu {
    .admin-nav-btn {
      gap: 3rem;
    }
  }
  .admin-header-container {
    left: 7rem;
    padding: 0 1.5rem;
  }
  .main-content {
    margin-left: 7rem;
  }
}
@include sm {
  #products {
    .products-table {
      th {
        font-size: 1.6rem;
      }
      th,
      td {
        padding: 0.5rem;
      }
      .product-action {
        width: 6rem;
      }
    }
  }
  .product-task {
    flex-wrap: wrap;
    justify-content: center;
  }
}
