.main-btn{
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 600;
    color: $clr-white;
    letter-spacing: .4rem;
    background-color: #000;
    padding: 1.4rem 3rem;
    text-transform: uppercase;
    border-radius: none ;
    &:hover{
        color: white;
    }
}
.btn-secondary{
    padding: 1.4rem 3.5rem;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: $clr-white;
    color: $clr-primary-1;
    border: 2px solid $clr-primary-6;
}