.shop-path {
  font-family: $ff-primary;
  width: 100%;
  background-color: $clr-primary-3;
  height: 14rem;
  &-content {
    max-width: $max-width;
    margin: 0px auto;
    padding: 4rem 0;
    &-name {
      font-size: 2.5rem;
      padding: 0.5rem 0;
    }
    &-1 {
      font-size: 1.5rem;
      &::after {
        content: " > ";
      }
    }
    &-2 {
      font-size: 1.5rem;
      color: $clr-primary-5;
    }
  }
  &-1 {
    font-size: 1.5rem;
    &::after {
      content: " > ";
    }
  }
  &-2 {
    font-size: 1.5rem;
    color: $clr-primary-5;
  }
}
.shop {
  max-width: $max-width;
  margin: 10rem auto;
  &-search-input {
    width: 100%;
    padding: 1.2rem 2rem;
    padding-right: 4rem;
    color: $clr-primary-1;
    border: none;
    font-size: 1.4rem;
  }
  .search-container {
    width: 100%;
    position: relative;
    border: solid 1px $clr-primary-5;
    display: inline-block;
    margin-bottom: 4rem;
  }
  .shop-search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    margin-right: 1.7rem;
  }
}
.shop-detail-information-card-name {
  width: 100%;
  text-align: start;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2rem 0;
  & > i {
    padding-right: 1rem;
    float: right;
  }
}
.shop-detail-information-card-item {
  font-size: 1.5rem;
  & > li {
    padding: 0.7rem 0;
  }
  .filter-btn {
    border: none;
    background-color: transparent;
    color: $clr-primary-5;
    transition: all 0.2s linear;
  }
  .filter-btn:hover {
    color: $clr-primary-1;
  }
  &-tag {
    display: inline-block;
    flex-wrap: wrap;
    background-color: $clr-primary-4;
    padding: 0.5rem 2rem;
    color: $clr-primary-1;
    font-weight: bold;
    border: none;
  }
}
.tag {
  display: inline-block;
  margin: 0 0.5rem;
}
.item-results {
  font-size: 1.5rem;
}
.shop-sorted {
  align-self: center;
  display: inline-block;
}
.sorted {
  font-size: 1.5rem;
}
.sorted-item {
  display: inline-block;
  &-menu {
    background-color: $clr-white;
    font-size: 1.5rem;
    color: $clr-primary-1;
    border: none;
  }
}
.filter {
  font-size: 1.5rem;
}
.item-header {
  padding-bottom: 6rem;
}

.size {
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0.8rem 2.5rem;
  margin: 1rem 0.5rem;
  color: $clr-primary-1;
  &:hover {
    background-color: transparent;
    color: $clr-primary-1;
  }
}
.shop-detail {
  li {
    a {
      transition: color 0.2s linear;
    }
  }
  li:hover {
    color: $clr-primary-1;
  }
}
