.shop-detail-items{
    background-color: $clr-primary-3;
    width: 100%;
    padding: 2rem;
    &-display-left{
        padding-top: 3rem;
    }
    &-display-left img{
        margin: 2rem auto;
        &:hover{
            cursor: pointer;
        }
    }
    &-display-right>img{
        display: block;
        margin: 0 auto;
    }
}
.photo {
    background-color: transparent;
    border: none;
    &:hover{
        background-color: transparent;
    }
}
.shop-detail-path{
    text-align: center;
    padding: 3rem 0;
    &-distant>a{
        font-size: 1.5rem;
        &::after{
            content: " > ";
        }
    }
    &-distant>span{
        font-size: 1.5rem;
        color: $clr-primary-5;
    }
}
.shop-detail-content{
    &-name{
        text-align: center;
        &>h4{
            font-size: 2.5rem;
            font-weight: bold;
        }
        &>i{
            color: $clr-picker-3;
            font-size: 1.5rem;
        }
        &>span{
            font-size: 1.5rem;
        }
        &>h3{
            font-size: 3rem;
            font-weight: bold;
            padding: 2rem 0;
            &>span{
                font-size: 2rem;
                padding: 0 2rem;
                font-weight: normal;
                color: $clr-primary-5;
                text-decoration-line: line-through;
            }
        }
        &>p{
            font-size: 1.5rem;
        }  
    }
    &-size{
        display: inline-block;
        margin-right: 4rem;
        &>span{
            font-size: 1.5rem;
        }
        &>.shop-detail-information-card-item{
            display: inline-block;
        }
    }
    &-color{
        display: inline-block;
        &>span{
            font-size: 1.5rem;
        }
    }
    &-quantity{
        margin-bottom: 1rem;
        &>input[type=number]{
            width: 10rem;
            border: solid 1px $clr-primary-5;
            padding: 1.5rem 0 1.5rem 2rem;
            margin-right: 3rem;
            font-size: 1.5rem;
        }
        &>input[type=number]::-webkit-inner-spin-button{  
           opacity: 1;
           cursor: pointer;
        }
        &>input[type=submit]{
            background-color: $clr-primary-1;
            color: $clr-primary-3;
            font-size: 1.5rem;
            font-weight: bold;
            border: none;
            padding: 2rem 3rem;
        }
    }
    &-checkout{
        padding: 3rem;
        &>h2{
            width: 40rem;
            line-height: 0.1em;
            border-bottom: 1px solid $clr-primary-5;
            margin: 0 auto;
            &>span{
                padding: 0 2rem;
                background-color: white;
            }
        }
        &>img{
            padding: 3rem 0;
        }
    }
    &-categories{
        font-size: 1.5rem;
        &>p{
           color: $clr-primary-5; 
           &>span{
               color: $clr-primary-1;
           }
        }
    }
}