@import "./variable";
html{
    font-family: $ff-primary;
}
.path{
    font-family: $ff-primary;
    width: 100%;
    background-color: $clr-primary-3;
    height: 14rem;
    &-content{
        width: 120rem;
        margin: 0px auto;
        padding: 4.0rem 0;
        &-name{
            font-size: 2.5rem;
            padding: 0.5rem 0;
        }
        &-1{
            font-size: 1.5rem;
            &::after{
                content: " > ";
            }
        }
        &-2{
            font-size: 1.5rem;
            color: $clr-primary-5;
        }
    }
}
.shop{
    width: 100%;
    padding: 10rem 0;
    &-search-input{
        padding: 1.2rem 3rem;
        color: $clr-primary-3;
        border: none;
        font-size: 1.4rem;
    }
    &-search-input:placeholder-shown{
        padding-left: 1.7rem;
    }
}
.searchbtn{
    background-color: transparent;
    border: none;
    margin-right: 1.7rem;
}
.search-container{
    border: solid 1px $clr-primary-5;
    display: inline-block;
    margin-bottom: 4rem;
}
.shop-detail-information-card-name{
    width: 100%;
    text-align: start;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 2rem 0;
    &>i{
        padding-right: 1rem;
        float: right;
    }
}
.shop-detail-information-card-item{
    font-size: 1.5rem;
    &>li{
        padding: 0.7rem 0;
        color: $clr-primary-5;
    }
    &-tag{
        display: inline-block;
        flex-wrap: wrap;
        background-color: $clr-primary-4;
        padding: 0.5rem 2rem;
        color: $clr-primary-1;
        font-weight: bold;
        &:hover{
            transition: all 0.5s;
            background-color: $clr-primary-1;
            color: $clr-primary-3;
        }
    }
}
.tag{
    display: inline-block;
    margin: 0 0.5rem;
}
.item-results{
    font-size: 1.5rem;
}
.shop-sorted{
    align-self: center;
    display: inline-block;
}
.sorted{
    font-size: 1.5rem;
}
.sorted-item{
    display: inline-block;
    &-menu{
        background-color: $clr-white;
        font-size: 1.5rem;
        color: $clr-primary-1;
        border: none;
        
    }
}
.filter{
    font-size: 1.5rem;
}
.item-header{
    padding-bottom: 10rem;
}