@import "./mixin";
.shop-detail-breadcrumb {
  text-align: center;
}
.shop-detail-items {
  max-width: $max-width;
  background-color: white;
  padding-top: 5rem !important;
  margin: 0 auto;
  &-display-right {
    margin: 0 auto;
  }
}
.shop-detail-img-main {
  position: relative;
  .shop-detail-img-colection {
    position: absolute;
    top: 0;
    left: 0;
  }
}
#shop-detail-img-big {
  display: block;
  margin: auto;
}
.photo {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: transparent;
  }
}
.shop-detail-content {
  font-family: $ff-primary;
  padding: 10rem 0;
  &-name {
    text-align: center;
    & > h4 {
      font-size: 2.5rem;
      font-weight: bold;
    }
    & > i {
      color: $clr-picker-3;
      font-size: 1.5rem;
    }
    & > span {
      font-size: 1.5rem;
    }
    & > h3 {
      font-size: 3rem;
      font-weight: bold;
      padding: 2rem 0;
      & > span {
        font-size: 2rem;
        font-weight: normal;
        color: $clr-primary-5;
        text-decoration-line: line-through;
      }
    }
    & > p {
      font-size: 1.5rem;
    }
  }
  &-size {
    margin-bottom: 2rem;
    width: 100%;
    & > span {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  &-color {
    display: inline-block;
    & > span {
      font-size: 1.5rem;
    }
  }
  &-quantity {
    margin-bottom: 3rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & > input[type="number"] {
      width: 10rem;
      border: solid 1px $clr-primary-5;
      padding: 1.5rem 0 1.5rem 2rem;
      font-size: 1.5rem;
    }
    & > input[type="number"]::-webkit-inner-spin-button {
      opacity: 1;
      cursor: pointer;
    }
    & > input[type="submit"] {
      background-color: $clr-primary-1;
      color: $clr-primary-3;
      font-size: 1.5rem;
      font-weight: bold;
      border: none;
      padding: 2rem 3rem;
    }
  }
  &-checkout {
    & > h2 {
      width: 100%;
      line-height: 0.1em;
      border-bottom: 1px solid $clr-primary-5;
      margin: 0 auto;
      & > span {
        padding: 0 2rem;
        background-color: white;
      }
    }
    & > img {
      padding: 3rem 0;
    }
  }
  &-categories {
    font-size: 1.5rem;
    padding-bottom: 5rem;
    & > p {
      color: $clr-primary-5;
      & > span {
        color: $clr-primary-1;
      }
    }
  }
  &-paragraph {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    border-bottom: solid 1px $clr-primary-5;
    &-tablinks {
      border: none;
      background-color: white;
      margin: 0 4rem;
      font-size: 2rem;
      font-weight: bold;
      color: $clr-primary-5;
    }
    &-tabcontent {
      display: none;
      & p {
        color: $clr-primary-1;
        font-size: 1.5rem;
      }
      &-something {
        font-size: 1.8rem;
        font-weight: bold;
      }
      & h5 {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  &-related-product {
    width: $max-width;
    margin: 5rem auto;
    & > p {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
    }
  }
}
.appear {
  display: block;
}
.lineRed {
  border: none;
  border-bottom: solid 2px $clr-primary-2;
  background-color: white;
  margin: 0 4rem;
  font-size: 2rem;
  font-weight: bold;
  color: $clr-primary-5;
}
.item-size {
  background-color: transparent;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem 0.5rem;
  color: $clr-primary-1;
  &:hover {
    background-color: transparent;
    color: $clr-primary-1;
  }
}
.shop-detail-img-colection {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.img-colection-item {
  width: 10rem;
  height: 12rem;
  cursor: pointer;
  img {
    height: 100%;
    object-fit: cover;
  }
}
.shop-detail-sizing-option {
  width: 100%;
  display: flex;
  justify-content: center;
}
.shop-detail-color-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.shop-detail-color-represent {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: relative;
  &::after {
    content: "";
    width: 4.1rem;
    height: 4.1rem;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
  }
}
#shop-detail-color-select {
  font-size: 1.6rem;
}
.shop-detail-add-btn{
    border: none;
    margin-bottom: 5rem;
    cursor: pointer;
}
.shop-detail-size-alert{
    color: red;
    visibility: hidden;
    opacity: 0;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}
.shop-detail-product-price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
@include lg {
  .shop-detail-img-main {
    padding-top: 15rem;
  }
  .shop-detail-img-colection {
    max-width: 100%;
    flex-direction: row;
    gap: 1.5rem;
  }
  .img-colection-item {
    width: 8rem;
    height: 10rem;
  }
}
