$clr-primary-1: #111111;    // Black color
$clr-primary-2: #E53437;    // Red color
$clr-primary-3: #F3F2EE;    // Background-color
$clr-primary-4: #F2F4FA;    // Tags color
$clr-primary-5: #B7B7B7;    // Word color
$clr-primary-6: #3D3D3D;    // Word color
$clr-primary-7: #E0E1E1;    // Input color

$clr-picker-1: #0B090C;
$clr-picker-2: #5E64D1;
$clr-picker-3: #F1AF4D;
$clr-picker-4: #626068;
$clr-picker-5: #57594D;
$clr-picker-6: #E8B9C4;
$clr-picker-7: #D5C1D6;

$clr-green: #77B526;
$clr-white: #fff;
$max-width: 1200px;

// Font

$ff-primary: "Nunito Sans", sans-serif;