.dropdown-menu{
    display: block;
    visibility: hidden;
    transition: all 0.2s linear;
    opacity: 0;
    transform: translateY(1rem);
}
.nav-dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.menu-overlay{
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all .3s linear;
    visibility: hidden;
}
.menu-wrapper{
    transform: translateX(-300px);
    width: 300px;
    z-index: 99;
    opacity: 0;
    transition: all .3s ease-in;
    visibility: hidden;
}
.show-modal{
    opacity: 1;
    visibility: visible;
}
.show-navbar{
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
}
.nav-link{
    margin: 8px;
    padding: 0 !important;
    position: relative;
}
.nav-link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E53637;
    transition: all 0.2s linear;
}
.nav-link:hover::after{
    width: 100%;
}